md-sidenav {
	background: #279C9C;
	height: 100%;
}

md-content {
	height: 100%;
	padding: 20px;
}

#menu-links-container {
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	width: 300px;
}

md-divider.menu{
	border: 1px solid #8BDDDD;
}

#menutitle {
	color: #fff;
	padding-top: 100px;
	padding-bottom: 50px;
	padding-right: 20px;
	text-align: right;
}

      .axis path,
      .axis line {
          fill: none;
          stroke: black;
          shape-rendering: crispEdges;
      }

      .axis text {
          font-family: sans-serif;
          font-size: 11px;
      }