md-sidenav {
	background: #279C9C;
	height: 100%;
}

md-content {
	height: 100%;
	padding-top: 50px;
	padding-left: 20px;
	padding-right 20px;
	padding-bottom: 50px;
	text-align: center;
}

#user_dis .user-btn{
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	min-width: 88px;
	min-height: 30px;
	border-radius: 3px;
	font-size: 15px;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #8BDDDD;
	outline: 1px;
	background: #279C9C;
	color: white;
}

#light .alert-btn{
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	min-width: 88px;
	min-height: 30px;
	border-radius: 3px;
	font-size: 15px;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #8BDDDD;
	outline: 1px;
	background: #279C9C;
	color: white;
}

#menu-links-container {
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	width: 300px;
}

md-divider.menu{
	border: 1px solid #8BDDDD;
}

#menutitle {
	color: #fff;
	padding-top: 100px;
	padding-bottom: 50px;
	padding-right: 20px;
	text-align: right;
}

#div-title {
	color: #279C9C;
	font-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.axis path,
.axis line {
	fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.black_overlay{
	display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}    

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
	min-height: 40px;
	min-width: 60px;
    padding: 16px;
	margin: 10px;
    border: 1px solid black;
    background-color: white;
    z-index:1002;
    overflow: auto;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: lightsteelblue;
}